body {
	background-image: url('../img/matrix.jpg');
	background-repeat: repeat;
	background-size: cover;
	text-align: center;
	color: royalblue;
    text-shadow: 2px 2px .25px darkblue;
	font-family: papyrus;
	font-size: 18px;
	font-weight: bold;
	color: salmon;
}